* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    color: #FFFFFF;
}
body{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-color: #333333;
}
.country{
    margin-top: 50px;
    font-size: 2.5rem;
}
.country,.date,.status,.tmp-tow,.templist,.temp,input{
    z-index: 5;
}
.err{
    width: 356px;
    height: 356px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 25px;
    gap: 50px;
    text-align: center;
}
.err h1{
    color: rgb(149, 12, 12);
    margin-bottom: 20px;
    text-align: center;
}
.err p{
    color: #333333;
}
.err button{
width: 140px;
height: 40px;
outline: none;
border: none;
transition: all .25s ease-out;
font-size: 1rem;
cursor: pointer;
}
.err button:hover{
    transition: all .3s ease-in;
    transform: scale(1.1);
}
.app {
    width: 428px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index:5;
    border-radius: 15px;
}
.bg-overlay{
    border-radius: 15px;
    background-color: #000;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    position: absolute;
    inset: 0;
    z-index: 1;
}
input::placeholder{
    color: white;
    opacity: 0.5;
    font-size: 1.1rem;
    z-index:5;
}
.input,.btn{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border: none;
    outline: none;
    z-index:5;
}
.fa-search{
    transition: all .25s ease-out;
    transform: scale(1);
}
.fa-search:hover{
    transition: all .3s ease-in;
    transform: scale(1.15);
    cursor: pointer;
}
.input {
    width: 300px;
    height: 66px;
    font-size: 1.1rem;
    padding-left: 25px;
    border-radius: 25px 0px 0px;
    background: rgba(255, 255, 255, 0.35);
}
.btn{
    width: 56px;
    height: 66px;
    border-radius: 0px 0px 25px 0px;
    background-color: #4d6626;
    cursor: pointer;
}

.btn:active{
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

form{
    display: flex;
}
.temp {
    height: 72px;
    font-weight: 700;
    font-size: 73px;
    line-height: 88px;
    color: #FFFFFF;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-bottom: 5px;
    z-index:5;
}

.templist {
    width: 356px;
    height: 356px;
    margin-top: 35px;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tmp-row {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}   
.tmp-row:nth-child(even){
    background-color: rgba(0, 0, 0, 0.2);
}
.tmp-row:nth-child(6){
    border-radius: 0px 0px 25px 25px;
}

.status {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5em;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}
